<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MixAndMatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D95611D31CD8455600DA28EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95611EA1CD8455700DA28EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95611F51CD8455700DA28EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
