<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209783008515-pmsg5mav90gvb3hd71iqi3k15btvbmtc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209783008515-pmsg5mav90gvb3hd71iqi3k15btvbmtc</string>
	<key>API_KEY</key>
	<string>AIzaSyBXY9wje5GTbesvj-Bupw1QDIseznb_7uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>209783008515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MixAndMatch.ios</string>
	<key>PROJECT_ID</key>
	<string>mix-n-match</string>
	<key>STORAGE_BUCKET</key>
	<string>mix-n-match.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209783008515:ios:85b5bc850e0f0843</string>
	<key>DATABASE_URL</key>
	<string>https://mix-n-match.firebaseio.com</string>
</dict>
</plist>